# Mengabaikan environment folder
.env
.env
.venv
# Mengabaikan file Python bytecode
__pycache__/
*.py[cod]

# Mengabaikan file log
*.log

# Mengabaikan file konfigurasi editor
.vscode/
.idea/

# Mengabaikan file data


# Mengabaikan file yang dihasilkan oleh sistem operasi
.DS_Store
Thumbs.db